<%- include("header") -%>

<nav class="navbar navbar-expand-md navbar-light bg-light">
<a class="navbar-brand" href="">To Do List</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/createList">Create New List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about">About</a>
    </li>
    <li class="nav-item dropdown" style="margin-right: 100px;">
      <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown">
                Total List
              </a>
  <div class="dropdown-menu" >
  <%  if(list2 != null){ %>
  <%    list2.forEach(function(itm){ %>
   <% if(itm.name != "Favicon.ico"){ %>
        <a class="dropdown-item" href="<%= itm.name %>">
        <form action="/deleteList" method="post">
          <input type="checkbox" class="aab" name="checkbox" value="<%= itm._id %>" onchange="this.form.submit()">
          <%= itm.name %>
        </form>
        </a>
   <% } %>
    <%  })} %>
  </div>

</div>
</nav>


<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

         <div class="box">
          <% if(newValue != null){ %>
       <% newValue.forEach(function(itm){ %>
         <form action="/delete" method="post">
         <div class="item">
          <input type="checkbox" name="checkBox" value="<%= itm._id %>" onchange="this.form.submit()">
          <p> <%= itm.name %> </p>
           </div>
       <input type="hidden" name="listName" value="<%= listTitle %>"></input>
     </form>
    <%  })} %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="Add new Item" autocomplete="off">
      <button type="submit" name="button" value="<%= listTitle %>">+</button>
    </form>

  </div>
<%- include("footer") -%>
